.custom-card {
    border: 1px solid lightgray;
    background-color: var(--secondBackground); 
    color: --var(--textColor);
    transition: 0.3s;

    .card-header {
        background: rgb(34, 34, 34);
        border-bottom: rgb(211, 211, 211);
    }
    
    small {
        color: rgb(102, 102, 102);
    }
    
    .submit {
        background: #007bff;
    }
    
    input {
        background: rgb(34, 34, 34);
        color: var(--textColor);
    }
    
    input:focus {
        background: var(--background);
        color: var(--textColor);
    }
}

.custom-card:hover {
    border-color: var(--border);
    box-shadow: 0px 0px 5px var(--black);
}
